*, :after, :before, body, html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-feature-settings: "tnum", "tnum", "tnum";
    background-color: #fff;
    color: rgba(0, 0, 0, .85);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    margin: 0;
}

#root {
    display: flex;
    min-height: 100%;
}

.BlocksWrapper {
    align-content: stretch;
    align-items: center;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

.BlocksWrapper:before {
    bottom: 0;
    content: "" !important;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.BlocksWrapper-inner {
    margin: 64px 32px;
    max-width: calc(100% - 32px);
    overflow: hidden;
    padding: 24px 0;
    position: relative;
    width: 600px;
}

@media screen and (max-width:600px) {
    .BlocksWrapper-inner {
        margin: 32px 16px;
        padding: 8px 0;
    }
}

.background:before {
    background-image: url(https://cdn.steamstatic.com/steamcommunity/public/images/items/508900/e4720069b726c01365da8d7f2368810dbe71afaf.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    inset: 0px;
    position: absolute;
    opacity: 1;
}

.window:before {
    content: "";
    inset: 0px;
    position: absolute;
    border-radius: 14px;
    opacity: 0.9;
    background-color: rgb(32, 32, 32);
}

.Block {
    min-height: 15px;
    padding: 10px 32px;
    position: relative;
}

.Cover {
    display: flex;
    flex-direction: column;
}

.Cover .image {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.Cover .info {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Cover .logo-wrapper {
    display: flex;
}

.Cover .logo-wrapper > img {
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    height: 100px;
    margin-top: -50%;
    position: relative;
    width: 100px;
}

.Cover.no-image .logo-wrapper > img {
    margin-top: 0 !important;
}

.Cover .title-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.Cover .title {
    font-size: 16px;
    font-weight: 600;
    padding-top: 8px;
    position: relative;
    text-align: center;
    word-break: break-word;
}

.Cover .subtitle, .Cover .title.verified {
    padding-left: 24px;
    padding-right: 24px;
}

.Cover .title.verified > img {
    height: 14px;
    width: 14px;
}

.Cover .subtitle {
    opacity: .6;
    padding-top: 2px;
    text-align: center;
    word-break: break-word;
}

.Link {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 56px;
    padding: 2px 16px;
    position: relative;
    text-decoration: none;
    transition: all .2s;
}

.Link:hover {
    opacity: .85 !important;
    transform: translateY(-2px);
}

.Link-icon {
    align-items: center;
    display: flex;
    height: 26px;
    justify-content: center;
    left: 16px;
    overflow: hidden;
    position: absolute;
    width: 26px;
}

.Link-icon img {
    max-height: 100%;
    max-width: 100%;
}

.inline-block {
    display: inline-block;
}

.Link-caption, .Link-label {
    text-align: center;
}

.Link-caption {
    font-size: 90%;
    opacity: .8;
}

.Link.icon-label-center {
    padding-left: 58px;
    padding-right: 58px;
}

.Branding {
    align-items: center;
    color: inherit;
    display: flex;
    margin-top: 10px;
    opacity: .8;
    padding: 20px;
    text-decoration: none;
    transition: all .2s;
}

.Branding > img {
    margin: 0 6px;
}